body,p,h2{
margin: 0px;
padding:0px ;
}
body{
    background-color: #E7DFD8;
    font-family: "Inter", sans-serif;
}
.container{
    width:1119px;
    margin:0 auto ;
}
.mouse{
    padding: 99px 0px 99px 0px;
}
.mouse-container{
    display: flex;
    flex-direction: row;
    gap:107px ;
}
.mouse-subtitle{
    color: #101010;
    font-size: 19px;
    line-height:36px ;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap:30px ;
    padding-bottom:28px ;
}
.mouse-span{
    font-size: 38px;
    line-height:24px ;
    width:74px;
    height:74px;
    background-color: #B99FEA;
    border-radius:50px;
    display:flex ;
    justify-content:center ;
    align-items: center;
}
.mouse-title{
    font-size:35px;
    color: #101010;
    line-height: 45.63px;
    font-weight: 400;
    padding-bottom: 30px;
}
.mouse-text{
    color: #101010;
    font-size: 14px;
    line-height: 22.08px;
    text-shadow: 0px 4px  0px #00000040;
    padding-bottom:35px ;
}
.mouse-button{
    padding:10px 20px 10px 20px ;
    background-color: #B99FEA;
    border-radius:8px ;
    border: none;
    font-size:16px ;
    line-height: 22.08px;
    font-family:"Inter", sans-serif; 
}
.koko{
    padding:113px 0px  ;
}
.koko-container{
flex-direction: row;
display: flex;
gap:139px ;
}
.koko-subtitle{
    font-size: 19px;
    color:#101010;
    line-height: 36px;
    gap:21px;
    display: flex;
    align-items: center;
    padding-bottom:28px ;
}
.koko-span{
    color: #101010;
    font-size: 38px;
    line-height:24px ;
    width: 74px;
    height: 74px;
    background-color: #EBA789;
    border-radius:100px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.koko-title{
    font-size: 35px;
    line-height: 45.63px;
    font-weight: 400;
    color:#101010;
    letter-spacing: 1px;
    padding-bottom:30px ;
}
.koko-text{
    color: #101010;
    font-size: 14px;
    line-height: 22.08px;
    padding-bottom: 35px;
}
.koko-button{
    background-color: #EBA789;
    padding:10px 20px 10px 20px;
    border-radius:8px ;
    border: none;
    font-size: 16px;
    line-height: 22.08px;
    
}
.vaina{
    padding:113px 0px;
}
.vaina-container{
  flex-direction: row;
  display: flex;
  gap:139px;
}
.vaina-subtitle{
    font-size: 19px;
    line-height: 36px;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding-bottom:28px ;
    gap:21px;
}
.vaina-span{
    color:#101010;
    font-size: 38px;
    line-height: 24px;
    width:74px ;
    height: 74px;
    background-color: #96DBC6;
    border-radius:100px ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.vaina-title{
    color:#101010;
    font-size: 35px;
    line-height:45.63px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 30px;

}
.vaina-text{
    color:#101010;
    font-size: 15px;
    line-height: 22.08px;
    padding-bottom: 35px;
}
.vaina-button{
    background-color: #96DBC6;
    padding: 10px 20px 10px 20px ;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    line-height:22.08px;
}